{% extends 'base.html' %}

{% block title %}Basic User{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/Basicuser.css' %}">
    <script src="{% static 'js/Basicuser.js' %}"></script>
{% endblock %}

{% block name%}
{{ name }}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="header">
            <h1>Welcome back, {{ name }}</h1>
            <div class="button-group">
                <button class="change-username-btn" onclick="openModal('ChangeUsernameModal')">Change Username</button>
                <button class="logout-btn" onclick="logoutUser()">Logout</button>
            </div>
        </div>
        <p>Role level is: Basicuser</p>
        <div class="character">🙇</div>
        <p>More things coming soon...</p>
    </div>

    <div id="ChangeUsernameModal" class="modal">
        <div class="modal-content">
            <h3>Change Username</h3>
            <input type="text" id="changeName" placeholder="Name">
            <button onclick="changeUsername()">Submit</button>
            <button onclick="closeModal('ChangeUsernameModal')">Cancel</button>
        </div>
    </div>
{% endblock %}