<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block head %}{% endblock %}
</head>
<body>
    <header class="navigator-bar">
        <div class="navigator-logo">
            <div class="logo">
                <h1 class="navigator-logo-title">
                    <span>{% block name %}{% endblock %}</span>
                    <span>Dashboard</span>
                </h1>
            </div>
        </div>
        <div class="navigator">
            <div class="navigator-tabs">
                <a href="/home/">HOME</a>
                <a href="/approvalsystem/">Write Request</a>
                <a href="#">Cards</a>
                <a href="#">Account</a>
                <a href="#">System</a>
                <a href="/profile/">PROFILE</a>
            </div>
        </div>
    </header>

    {% block body %}{% endblock %}
</body>
</html>
