{% extends 'base.html' %}

{% block title %}Authorized Early Withdrawal Form{% endblock %}

{% block head %}
<style>
    .pdf-container {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
    iframe {
        width: 80%;
        height: 600px;
        border: none;
    }
</style>
{% endblock %}

{% block name %}
{{ user.name }}
{% endblock %}

{% block body %}
<div class="pdf-container">
    <iframe src="{{ form_url }}authorized-early-withdrawal-f1.pdf"></iframe>
</div>

<div>
    <h1>Authorized Early Withdrawal Form</h1>

    <section id="step0">
        <h2>Are you a Doctoral Student?</h2>

        <span class="single-choice">
            <input id="step0Choice1" type="radio">
            <label>Yes</label>
        </span>
        <span class="single-choice">
            <input id="step0Choice2" type="radio">
            <label>No</label>
        </span>
    </section>

    <!-- Only appear if selected step0Choice1 -->
    <section id="step0-1">
        <h2>Provide the name of your Academic Advisor</h2>
        <input id="advisorName" type="text" placeholder="Name">
    </section>

    <section id="step1">
        <h2>Plans for Departure</h2>

        <div class="single-choice">
            <input id="step1Choice1" type="radio">
            <label>I am currently enrolled in classes. I will be dropping all my courses and will leave the U.S. within 15 days.</label>
            <!-- TODO: Warn that an additional official withdrawal form from the Office of the Univeristy Registrar may be required -->
        </div>
        <div class="single-choice">
            <input id="step1Choice2" type="radio">
            <label>I am currently enrolled and will be leaving the U.S. within 15 days, but will keep all or some of my courses.</label>
        </div>
        <div class="single-choice">
            <input id="step1Choice3" type="radio">
            <label>I am not enrolled (or will unenroll) and will be leaving the U.S. before the last day to add classes for this upcoming semester.</label>
        </div>
        
    </section>

    <!-- TODO: Only appear if they selected step1Choice2 -->
    <section id="step1-1">
        <h2>Drop courses (Optional)</h2>

        <div>
            <label for="step1-1course1">Course Number:</label>
            <input type="number" placeholder="Course Number" width="4" maxlength="4">
            <button id="courseToList">Add</button>
        </div>
        <ul id="dropCourseList"></ul>

    </section>

    <!-- Always shown -->
    <section id="step1-2">
        <h2>Are you a leaving for a medical reason?</h2>

        <p>If so, you may be eligible for medical Reduced Course Load.</p>
        <p>Click <a href="https://uh.edu/oisss/students/f-1/reduced-course-load/">here</a> to learn more.</p>

    </section>

    <section id="step2">
        <h2>Date of Departure</h2>
        
        <span class="option-date">
            <label for="step2Date">Enter your planned departure date:</label>
            <input id="step2Date" type="date">
        </span>

        <!-- TODO: Below choices are unavailable until a date is chosen -->
        <div id="step2Choices">
            <div class="single-choice">
                <input id="step2Choice1" type="radio">
                <label for="step2Choice1" >I can attach a flight itinerary to this application to verify departure date.</label>
            </div>
            <div class="single-choice">
                <input id="step2Choice2" type="radio">
                <label for="step2Choice2">I am driving/have driven across the Canadian or Mexican border on the above departure date.</label>
            </div>
        </div>
    </section>

    <!-- TODO: Only appear if they selected step2Choice1 -->
    <section id="step2-1">
        <h2>Upload your flight itinerary</h2>
        <p>This document is usually given to you by your airline.</p>
        <input id="step2-1Document" type="file">
    </section>

    <section id="step3">
        <h2>Do you plan on returning to the U.S. in a future semester?</h2>

        <span class="single-choice">
            <input id="step3Choice1" type="radio">
            <label for="step3Choice1">Yes</label>
        </span>
        <span class="single-choice">
            <input id="step3Choice2" type="radio">
            <label for="step3Choice2">No</label>
        </span>
    </section>

    <!-- TODO: Only appear if they selected step3Choice1 -->
    <section id="step3-1">
        <h2>Provide your estimated semester of return.</h2>

        <select id="step3-1Semester">
            <option value="" disabled selected>Select a semester</option>
            <option>Fall 2025</option>
            <option>Spring 2026</option>
            <option>Fall 2026</option>
            <option>Spring 2027</option>
            <option>Fall 2027</option>
            <option>Spring 2028</option>
            <option>Fall 2028</option>
            <option>Spring 2029</option>
            <option>Fall 2029</option>
            <option>Spring 2030</option>
            <option>Fall 2030</option>
        </select>
        <p>If unsure, press next.</p>
    </section>

    <section id="step4">
        <h2>Acknowledgements</h2>
        <p>All options must be checked to continue</p>

        <div class="multi-choice">
            <input id="step4Option1" type="checkbox">
            <label for="step4Option1">I understand that my current I-20 will be terminated, and I cannot re-enter the U.S. on this I-20 and SEVIS ID.</label>
        </div>
        <div class="multi-choice">
            <input id="step4Option2" type="checkbox">
            <label for="step4Option2">
                I understand that my F-1 "clock" will start over in regards to being eligible for CPT or OPT due to an absence from classes for more than five (5) months.
            </label>
        </div>
        <div class="multi-choice">
            <input id="step4Option3" type="checkbox">
            <label for="step4Option3">I have informed my academic department regarding leaving the U.S.</label>
        </div>
    </section>

    <section id="step5">
        <h2>Return Steps</h2>

        <p>If you decide to return to study at UH for a future semester, please do the following <strong>before</strong> returning to the U.S.:</p>
        
        <ol>
            <li>Contact your academic advisor to update your academic record or validate active student status.</li>
            <li>Contact <a href="mailto:ISSSOHLP@central.uh.edu">ISSSOHLP@central.uh.edu</a> to request a new Form I-20.</li>
            <ul><li>If you have to apply for readmission, your I-20 may come from admissions.</li></ul>
            <li>Provide updated evidence of financial support.</li>
            <li>Verify/Update your foreign (international) address in MyUH.</li>
            <li>Your new Form I-20 will be sent by email. If you want the original by mail, please provide a prepaid mailing label.</li>
            <li>Pay the I-901 SEVIS Fee after receiving the new I-20. This is paid through <a href="www.fmjfee.com">www.fmjfee.com</a>.</li>
            <li>Check with the U.S. Consulate or Embassy to determine if a new F-1 VISA is required.</li>
        </ol>
    </section>

    <section id="step6">
        <h2>Final steps</h2>
        <span>
            <label for="studentID">Student ID:</label>
            <input id="studentID">
        </span>
        <div>
            <label for="userSignature">Student signature:</label>
            <input id="userSignature" type="file">
        </div>
    </section>
</div>

<style>
</style>

{% endblock %}
