{% extends 'base.html' %}

{% block title %}Approved Early Withdrawal{% endblock %}

{% block head %}
<style>
.pdf-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
iframe {
    width: 80%;
    height: 1000px;
    border: none;
}
/* Button Section */
.button-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.finish-button {
    padding: 12px 24px;
    font-size: 18px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}
.finish-button:hover {
    background-color: #0056b3;
}
</style>
{% endblock %}

{% block name %}
{{ user.name }}
{% endblock %}

{% block body %}
<div class="pdf-container">
    <iframe src="/Latex/pdfs/{{ pdf_filename }}"></iframe>
</div>

<div class="button-container">
    <a href="/approvalsystem/finishEarlyWithdrawal/" class="finish-button">Finish</a>
</div>
{% endblock %}
