{% extends 'base.html' %}

{% block title %}Request Pending{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/WaitForPending.css' %}">
{% endblock %}

{% block name %}
{{ user.name }}
{% endblock %}

{% block body %}
<div class="pending-container">
    <h1>Your Request is Being Processed</h1>
    <p>We have received your submission. Please wait while an administrator reviews your request.</p>
    <div class="loader"></div>
    <p>Check back later for updates.</p>
    <a href="/approvalsystem/" class="btn-home">Back to Menu</a>
</div>
{% endblock %}
